ul{
    padding-left: 0;
}
ul li{
    list-style: none;
    border-bottom: 1px solid grey;
}
#userName{
    font-size: 20px;
    height: 30px!important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 5px;
}
ul li div{
    height: 25px;
}